# Установка дефолтной кодировки
AddDefaultCharset UTF-8

# Переход на страницу 404
RewriteEngine On
ErrorDocument 404 http://localhost/blablacat/404.php

# Запрет выдачи листинга пустого каталога в случае отстутсвия главного файла
Options -Indexes
