# Установка дефолтной кодировки
AddDefaultCharset UTF-8

RewriteEngine On
Options +FollowSymlinks
RewriteCond   %{REQUEST_FILENAME} !-d
RewriteCond   %{REQUEST_FILENAME} !-f

RewriteRule ^login$ login.php [QSA,L]
RewriteRule ^register$ register.php [QSA,L]
RewriteRule ^rules$ rules.php [QSA,L]
RewriteRule ^about$ about.php [QSA,L]
RewriteRule ^starwars$ starwars.php [QSA,L]
RewriteRule ^favourites$ favourites.php [QSA,L]
RewriteRule ^settings$ settings.php [QSA,L]
RewriteRule ^support_for_user$ support_for_user.php [QSA,L]
RewriteRule ^logout$ logout.php [QSA,L]
RewriteRule ^noscript$ noscript.php [QSA,L]
RewriteRule ^editing$ edit.php [QSA,L]
RewriteRule ^favourites$ favourites.php [QSA,L]
RewriteRule ^orders_search$ search.php [QSA,L]
RewriteRule ^users_search$ users_search.php [QSA,L]
RewriteRule ^reviews$ reviews.php [QSA,L]
RewriteRule ^requests$ requests.php [QSA,L]
RewriteRule ^responses$ responses.php [QSA,L]
RewriteRule ^orders$ index.php [QSA,L]
RewriteRule ^pet([0-9]+)_([a-z0-9\-]+)/?$ pets.php?petnum=$1 [L]


# Переход на страницы 403, 404
ErrorDocument 404 http://localhost/petcher/404.php
ErrorDocument 403 http://localhost/petcher/403.php

# Запрет выдачи листинга пустого каталога в случае отсутствия главного файла
Options -Indexes
