body {
    margin:0;
    padding:0;
    height: 100%;
}
.grid-container {
    background: #efefef; /* #C8C3FE; */
    font-family: 'Open Sans', sans-serif;
    color: #777;
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    top: 0;
    left: 0;
}

.header { 
    grid-area: header; 
    height: 50px; 
    background-color: #3b8dbd; 
}


.header h1#logo {
    display: inline-block;
    height: 50px;
    float: left;
    margin-left: 50px;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 400;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
    transition: all 0.3s;
}

.contain {
    width: 950px;
    margin: auto;
    /*border: 1px solid #000;*/
}

.menu {
    display: inline-block;
    float: left;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.menu:hover {
    color: white;
    text-decoration: none;
    background-color: #53A3D5;
}

.header nav {
    display: inline-block;
    float: right;
}

.header nav a {
    line-height: 50px;
    color: #9fdbfc;
    font-weight: 700;
    font-size: 18px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
}

.header.smaller {
    height: 50px;
}

.header.smaller h1#logo {
    width: 50px;
    height: 50px;
    font-size: 30px;
}

.header.smallernav a {
    line-height: 50px;
}

.footer { 
    grid-area: footer; 
    /*border: 1px solid red;*/
    text-align: center;    
}

.body { 
    grid-area: body; 
    /*border: 1px solid blue;*/
    height: auto; 
}

.main-body {
    width: 950px;
    /*border: 1px solid #000;*/
    margin: auto; /* Выравниваем по центру */
}

.main-support {
    width: 915px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #fbfbfb;
    font-size: 24px;
    line-height: 1;
    padding: 3px;
    outline: none;
    /*border: 1px solid yellow;*//*#d9d9d9;*/
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    box-shadow: 0 1px 10px rgba(0,0,0,.13);
}

.parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    /*border: 1px solid blue;*/
}

.not-found {
    width: 900px;
    background: #fbfbfb;
    font-size: 24px;
    line-height: 1;
    outline: none;
    /*border: 1px solid yellow;*//*#d9d9d9;*/
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    box-shadow: 0 1px 10px rgba(0,0,0,.13);
    margin: auto;
}

.not-found-title {
    font-size: 34px;
    text-align: center;
    outline: none;
    /*border: 1px solid yellow;*//*#d9d9d9;*/
    padding-top: 10px;
    margin: auto;
    margin-top: 10%;
    padding-bottom: 10px;
}

.not-found-image {
    margin: 15px;
    float: left;
    /*border: 1px solid black;*/
    width: auto;
}

.not-found-info {
    float: left;
    /*border: 1px solid blue;*/
    width: 66%;
}

#main{
    font: 18px sans-serif; 
    color: #777;
    text-decoration: none;
}
#main:hover{
    color: rgb(46,95,122);
}

.upper-part-body {
    width: auto;
    /*border: 1px solid #000;*/
    margin-top: 10px;
    margin-bottom: 10px;
}

.user-menu {
    float: left;
    width: 300px;
    margin: auto;
    padding-bottom: 1514:43 02.08.2016px;
    background: #fbfbfb;
    font-size: 24px;
    line-height: 1;
    padding: 3px;
    margin: 0 10px 0 0;
    outline: none;
    box-shadow: 0 1px 10px rgba(0,0,0,.13);
    /*border: 1px solid #d9d9d9;*/
}

#avatar {
    width: 250px;
    height: 250px;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    margin-bottom: 10px;
    background: #fff;
    padding: 5px; /* создание отступов */
    border: #aaa 1px solid;
    box-shadow: 0px 1px 1px 1px #bbb; /* тень */
    -moz-box-shadow: 0px 1px 1px 1px #bbb;
    -webkit-box-shadow: 0px 1px 1px 1px #bbb;
}

#avatar img {
    display: block;
    width:100%;
    height: 100%;

    /*border: 1px solid black;*/
}

.list-user-menu {
    width: 250px;
    margin: auto; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
    /*border: 1px solid green;*/
}

.list-user-menu-item {
    list-style-type: none; /* Убираем маркеры */
    padding-bottom: 5px;
    padding-top: 5px;
    /*border: 1px solid blue;*/
}

.user-menu nav a {
    margin: auto;
    color: #777;
    font-weight: 700;
    font-size: 16px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
    /*border: 1px solid yellow;*/
}

.list-user-menu-item:hover {
    background-color: #efefef;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
}

.title-section {
    margin: auto;
    color: #3D3D3D;
    font-weight: 700;
    font-size: 18px;
}

.title-section-main-body {
    margin: auto;
    color: #3D3D3D;
    font-weight: 700;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
}

.user-info {
    width: 598px;
    margin: auto;
    float: left;
    padding-bottom: 1514:43 02.08.2016px;
    background: #fbfbfb;
    font-size: 24px;
    line-height: 1;
    padding: 3px;
    margin: 0;
    outline: none;
    /*border: 1px solid #d9d9d9;*/
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    box-shadow: 0 1px 10px rgba(0,0,0,.13);
}

.clear {
    clear: left; /* Отмена обтекания */
}

.name-user {
    margin: auto;
    color: #3D3D3D;
    font-weight: 700;
    font-size: 25px;
}

.address-user, .about-user {
    margin: auto;
    margin-top: 10px;
    color: #777;
    font-weight: 600;
    font-size: 15px;
}

.about-user-info {
    margin: auto;
    margin-top: 10px;
    color: #3D3D3D;
    font-weight: 700;
    font-size: 18px;
}

.pets-list {
    width: 598px;
    height: 110px;        
    margin: auto;
    float: left;
    padding-bottom: 1514:43 02.08.2016px;
    background: #fbfbfb;
    font-size: 24px;
    line-height: 1;
    padding: 3px;
    margin-top: 10px;
    outline: none;
    /*border: 1px solid #d9d9d9;*/
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    box-shadow: 0 1px 10px rgba(0,0,0,.13);
}

.main-part-body {
    width: auto;
   /*border: 1px solid #000;*/
    margin-top: 10px;
    margin-bottom: 10px;
}

.orders-part {
    width: 915px;
    margin: auto;
    background: #fbfbfb;
    font-size: 24px;
    line-height: 1;
    padding: 3px;
    outline: none;
    /*border: 1px solid yellow;*//*#d9d9d9;*/
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    box-shadow: 0 1px 10px rgba(0,0,0,.13);
}

.ribbon-wrapper-green, .ribbon-wrapper-blue {
    width: 88px;
    height: 88px;
    overflow: hidden;
    float: right;
    top: -5px;
    right: -5px;
}

.ribbon-green {
    font-weight: bold;
    font-family: Sans-Serif;
    color: #333;
    font-size: 13px;
    text-align: center;
    text-shadow: white 0px 1px 0px;
    -ms-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
    position: relative;
    padding: 7px 0 ;
    left: -5px;
    top: 17px;
    width: 120px;
    background: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
    color:#6a6340;
    box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.3);
}

.ribbon-blue {
    font-weight: bold;
    font-family: Sans-Serif;
    color: #333;
    font-size: 13px;
    text-align: center;
    text-shadow: white 0px 1px 0px;
    -ms-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
    position: relative;
    padding: 7px 0 ;
    left: -5px;
    top: 17px;
    width: 120px;
    background: -webkit-gradient(linear, left top, left bottom, from(#8AADFF), to(#6896FD));
    color:#405B6A;
    box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.3);  
}

.ribbon-green:before, .ribbon-green:after {
    content: '';
    /* Colour of the triangle. To flip the effect, use border-bottom. */ 
    border-top: 3px solid #6e8900;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position:absolute;
    bottom: -3px;
    /* +1 to compensate for the border */ 
}

.ribbon-blue:before, .ribbon-blue:after {
    content: '';
    /* Colour of the triangle. To flip the effect, use border-bottom. */ 
    border-top: 3px solid #405B6A;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position:absolute;
    bottom: -3px;
    /* +1 to compensate for the border */ 
}

.ribbon-green:before, .ribbon-blue:before {
    left: 0px;
}

.ribbon-green:after, .ribbon-blue:after {
    right: 0px;
}
 
.con {
    position: relative;
}

.containerr{
    display: block;
    position: absolute;
    top: 10px;
    left: 50px;
    height: 70px;
    width: 600px;
    overflow: hidden;
}

.containerr img {
    position: absolute;
    top: 0px;
    height: 70px;
    width: 70px;
    cursor: pointer;
    overflow: hidden;
}

.carouselLeft {
    position: absolute;
    top: 30px;
    left: 0px;
    cursor: pointer;
}

.carouselRight {
    position: absolute;
    top: 30px;
    left:550px;
    cursor: pointer;
}

.not-order, .not-favourites {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #777;
    text-align: center;
    font-size: 18px;
}

.current-order {
    /*border: 1px solid green;*/
    margin: 0;
}

#options-list {
    float: right;
    margin: auto;
    color: #3D3D3D;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#options-list > li {
    list-style-type: none; 
    float: left;
    font: 16px sans-serif;
    font-weight: 700; 
}

#options-list > li > a {
    color: #748996;
    margin-left: 45px;   
}

#block-title-and-sorting {
    height: 40px;
    background-color: #efefef;    
    /* border: 1px solid red; */
}

.block-title-and-sorting-left {
    width: 50%;
    float: left;
}

.block-title-and-sorting-right {
    width: 50%;
    float: right;
}

#list-links-sort {
    list-style-type: none;  
    background: #fbfbfb;
    position: absolute;
    display: none;
    width: auto;
    float: right;
    padding: 0;
    z-index: 1; 
    box-shadow: 0 1px 10px rgba(0,0,0,.13);
}

#list-links-sort li {
    padding: 5px;    
}

#list-links-sort li:hover {
    background-color: #efefef;
}

#list-links-sort a {
    color: #3D3D3D;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
}

.left-part-order-list {
    /*border: 1px solid brown;*/
    width: 20%;
    float: left;
    padding-bottom: 10px;
}

.right-part-order-list {
    /*border: 1px solid brown;*/
    width: 70%; /* 78% */
    float: left;
    padding-bottom: 10px;
}

#avatar-pet {
    width: 120px;
    height: 120px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid black;
    overflow: hidden;
    background: #fff;
    padding: 5px; /* создание отступов */
    border-radius: 50%;
    /* не забываем о кроссбраузерности */
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: #aaa 1px solid;
    box-shadow: 0px 1px 1px 1px #bbb; /* тень */
    -moz-box-shadow: 0px 1px 1px 1px #bbb;
    -webkit-box-shadow: 0px 1px 1px 1px #bbb;
}

#avatar-pet img {
    display: block;
    width:100%;
    height: 100%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    /*border: 1px solid black;*/
}

.order-about {
    margin: auto;
    margin-top: 10px;
    color: #777;
    font-weight: 600;
    font-size: 15px;
    /*border: 1px solid black;*/
    margin-left: 10px;
    margin-right: 10px;
    width: 80%;
}

.order-cost {
    margin: auto;
    margin-top: 10px;
    /*border: 1px solid black;*/
    color: #3D3D3D;
    font-weight: 700;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    width: 80%;
}

.count-requests {
    /*border: 1px solid red;*/
    width: 20px;
    text-align: center;
    background-color: #C7C7C7;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    padding-left: 5px;    
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: -2px;
    margin-right: 2px;
    float: right;
}

.favourites-part {
    width: 915px;
    margin: auto;
    background: #fbfbfb;
    font-size: 24px;
    line-height: 1;
    padding: 3px;
    outline: none;
    /*border: 1px solid yellow;*/
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    box-shadow: 0 1px 10px rgba(0,0,0,.13);   
}

.favourites-list {
    /*border: 1px solid black;*/
    margin: 0;
}

#favourite-circle {
    width: 120px;
    height: 120px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 17px;
    border: 1px solid black;
    /*overflow: hidden;*/
    background: #fff;
    padding: 5px; /* создание отступов */
    border-radius: 50%;
    /* не забываем о кроссбраузерности */
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: #aaa 1px solid;
    box-shadow: 0px 1px 1px 1px #bbb; /* тень */
    -moz-box-shadow: 0px 1px 1px 1px #bbb;
    -webkit-box-shadow: 0px 1px 1px 1px #bbb;
    /*border: 1px solid red;*/
    float: left;
    position: relative;
}

#favourite-circle img {
    display: block;
    width:100%;
    height: 100%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    /*border: 1px solid black;*/
}

.fav-rating {
    background-color: #53A3D5; 
    height: 55px; 
    width: 55px; 
    position: absolute; 
    left: 65%; 
    top: 65%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    /*border: 1px solid green;*/
    opacity: 0.9;
    border: #aaa 1px solid;
    box-shadow: 0px 1px 1px 1px #bbb; /* тень */
    -moz-box-shadow: 0px 1px 1px 1px #bbb;
    -webkit-box-shadow: 0px 1px 1px 1px #bbb;
}

.fav-rating-p {
    font-size: 18px;
    /*border: 1px solid blue;*/
    text-align: center;
    color: white;
}

.main-search {
    width: 600px; /*915px*/
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #fbfbfb;
    font-size: 24px;
    line-height: 1;
    padding: 3px;
    outline: none;
    /*border: 1px solid yellow;*//*#d9d9d9;*/
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    box-shadow: 0 1px 10px rgba(0,0,0,.13);
    float: left;
    margin: 0 10px 0 0;
}

.search-list {
    /*border: 1px solid black;*/
    margin: 0;
}

.search-parameters {
    width: 275px; /*915px*/
    margin: auto;
    margin-bottom: 10px;
    background: #fbfbfb;
    font-size: 24px;
    line-height: 1;
    padding: 3px;
    outline: none;
    /*border: 1px solid yellow;*//*#d9d9d9;*/
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    box-shadow: 0 1px 10px rgba(0,0,0,.13);
    float: left;
}
