body {
    background: #efefef;
    font-family: 'Open Sans', sans-serif;
    color: #777;
}

a {
    color: #f58220; 
    font-weight: 400;
}

.mlogin {
    margin: 40px auto 0;
}

.mregister {
    margin: 40px auto 0;
    /*border: 1px solid yellow;*/
}

.about {
    margin: 40px auto 0;
}

.error {
    margin: auto;
    padding: 5px;
    color: #D63301;
    background-color: #FFCCBA;
    text-align: center;
    /*border: 1px solid yellow;*/
    
    animation-name: error;
    -webkit-animation-name: error; 
 
    animation-duration: 2s; 
    -webkit-animation-duration: 2s;
 
    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     
 
    visibility: visible !important; 
}
 
@keyframes error {
    0% {
        transform: scale(0);
        opacity: 0.0;       
    }
    60% {
        transform: scale(1.1);  
    }
    80% {
        transform: scale(0.9);
        opacity: 1; 
    }   
    100% {
        transform: scale(1);
        opacity: 1; 
    }       
}
 
@-webkit-keyframes error {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;       
    }
    60% {
        -webkit-transform: scale(1.1);
    }
    80% {
        -webkit-transform: scale(0.9);
        opacity: 1; 
    }   
    100% {
        -webkit-transform: scale(1);
        opacity: 1; 
    }       
}

.success {
    margin: auto;
    padding: 5px;
    color: #74993D;
    background-color: #DAF0A8;
    text-align: center;
    /*border: 1px solid yellow;*/
    font: 17px solid;
    animation-name: success;
    -webkit-animation-name: success; 
 
    animation-duration: 2s; 
    -webkit-animation-duration: 2s;
 
    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     
 
    visibility: visible !important; 
}
 
@keyframes success {
    0% {
        transform: scale(0);
        opacity: 0.0;       
    }
    60% {
        transform: scale(1.1);  
    }
    80% {
        transform: scale(0.9);
        opacity: 1; 
    }   
    100% {
        transform: scale(1);
        opacity: 1; 
    }       
}
 
@-webkit-keyframes success {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;       
    }
    60% {
        -webkit-transform: scale(1.1);
    }
    80% {
        -webkit-transform: scale(0.9);
        opacity: 1; 
    }   
    100% {
        -webkit-transform: scale(1);
        opacity: 1; 
    }       
}

.regtext {
    font-size: 13px;
    margin-top: 26px;
    color: #777;
}
.main_welcome{
	text-align:center;
	font-size: 100px;
	margin-top: 20px;
}

.header, .header-min { 
    grid-area: header; 
    height: 50px; 
    background-color: #3b8dbd; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
    border-bottom: 3px solid #53A3D5;
}

@media (max-width: 1200px){
    .header-min {
        display: block;
    }
    
    .header {
        display: none;
    }
}

@media (min-width: 1000px){
    .header-min {
        display: none;
    }
    
    .header {
        display: block;
    }
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
}

#logos {
    margin-left: 12px;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 12px;
    right: 12px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #9fdbfc;
    transition-duration: .25s;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 53px;
    right: -100%;
    width: 200px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background: rgb(59, 141, 189);        
    background: rgb(59, 141, 189, .9);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
    overflow: hidden; /*добавил новое правило*/
    border-left: 3px solid #53A3D5;
}

.menu__box::before {
    content: '';
    background: inherit;
    background: rgb(59, 141, 189);    
    background: rgb(59, 141, 189, .9);
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.3);
    filter: blur(5px);
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
    /*border: 1px solid black;*/
    background: rgb(59, 141, 189, .2);
}

.menu__item:hover {
    background-color: #53A3D5;
}

#second {
    display: none;
}

.header h1#logo {
    display: inline-block;
    height: 50px;
    float: left;
    margin-left: 50px;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 400;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
    transition: all 0.3s;
}

.contain {
    width: 950px;
    margin: auto;
    /*border: 1px solid #000;*/
}

.menu {
    display: inline-block;
    /*border: 1px solid black;*/
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.menu:hover {
    color: white;
    text-decoration: none;
    background-color: #53A3D5;
}

.header nav {
    display: inline-block;
    float: right;
}

.header nav a {
    line-height: 50px;
    color: #9fdbfc;
    font-weight: 700;
    font-size: 18px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
}

.footer{
    margin-top: 15px;
    text-align: center;
}

/*= CONTAINERS
--------------------------------------------------------*/
.grid-container {
    background: #efefef; /* #C8C3FE; */
    font-family: 'Open Sans', sans-serif;
    color: #777;
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    top: 0;
    left: 0;
}

.container {
    padding: 25px 16px 25px 10px;
    margin: 90px auto auto auto;
    font-weight: 400;
    overflow: hidden;
    width: 350px;
    height: auto;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
    /*border: 1px solid green;*/
}

.container_about {
    padding: 25px 16px 25px 10px;
    margin: 90px auto auto auto;
    font-weight: 400;
    overflow: hidden;
    width: 800px;
    height: auto;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

#welcome {
    width: 500px;
    padding: 30px;
    background: #fff;
    margin: 160px auto 0;
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

.container h1 {
    color: #777;
    text-align: center;
    font-weight: 300;
    border: 1px dashed #777;
    margin-top: 13px;
}

.container label {
    color: #777;
    font-size: 14px;
}

#login {
    width: 320px;
    margin: auto;
    padding-bottom: 1514:43 02.08.2016px;
    /*border: 1px solid red;*/
}

.container form .input,.container input[type=text],.container input[type=password],.container input[type=e] {
    background: #fbfbfb;
    font-size: 24px;
    line-height: 1;
    width: 100%;
    padding: 3px;
    margin: 0 6px 5px 0;
    outline: none;
    border: 1px solid #d9d9d9;
}

#reg_username, #password, #replay_password, #email, #userphonenumber {
    /*border: 1px solid blue;*/
    width: 90%;  
}

.container form .input:focus {
    border: 1px solid #3b8dbd;
    box-shadow: 0 0 3px #3b8dbd;
}
.loglink {
	color: #3b8dbd;
}
.reglink {
	color: #3b8dbd;
}

.input:valid + span:after {
    content: "\2714";
    color: #07A407;
}

.input:invalid + span:after {
    content: "\2718";
    color: #D32222;
}

/*= BUTTONS
--------------------------------------------------------*/

.button{
    border: solid 1px #3b8dbd;
	background: #3b8dbd;
	color: white;
    padding: 7px 12px;
    border-radius:4px;
    float: right;
    cursor: pointer;
}

.button:hover{
   background: #3B69BD;
}

.pass_recovery_link{
    border: solid 1px #3b8dbd;
	background: #3b8dbd;
	color: white;
    padding: 7px 60px;
    border-radius:4px;
    float: right;
    cursor: pointer;
    text-decoration: none;
    margin: auto;
}

.pass_recovery_link_success{
    border: solid 1px #3b8dbd;
	background: #3b8dbd;
	color: white;
    padding: 7px 80px;
    border-radius:4px;
    float: right;
    cursor: pointer;
    text-decoration: none;
    margin: auto;
}

.pass_recovery_link:hover, .pass_recovery_link_success:hover{
    background: #3B69BD;
}

#title-about {
    text-align: center;
    font-size: 25px;
    background: #666666;
    color: transparent;
    text-shadow: 0px 1px 3px rgba(250,250,250,0.55);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;    
    font-weight: 600;
}

#title-main-targer {
    font-size: 20px;
    padding: 5px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    border-left: 2px solid #D1D1D1;
    border-right: 2px solid #D1D1D1;
    background-color: #F7F7F7;
    font-weight: 600;
}

#title-main-targer-support {
    font-size: 20px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    margin: 0;
    margin-left: 15px;
    margin-right: 15px;
    border-left: 2px solid #D1D1D1;
    border-right: 2px solid #D1D1D1;
    border-bottom: 1px solid #D1D1D1;
    background-color: #F7F7F7;
    font-weight: 600;
}

#title-main-targer-support sub {
    float: right;
}

#title-main-targer-support:hover {
    background-color: #EDEDED;
    cursor: pointer;
}

#title-main-year-start {
    font-size: 20px;
    text-align: center;
}

#map_about {
    /*border: 1px solid green*/
}

.div-for-map {
    position:relative;
}

#text-for-map {
    width: 70%;
    position:absolute;
    margin-left: 10px;
    display: inline-block;
    /*border: 1px solid red;*/
    font-size: 18px;
}

.metka {
    width: 2%;
    position:absolute;
    border-radius: 100px;
    height: 3.5%;
    display: inline-block;
}

.moscow {
    left: 15%;
    top: 55%;
    background: #3b8dbd;
    border: 1px solid #9fdbfc;
}

.st_petersburg {
    left: 16%;
    top: 42%;
    background: #3b8dbd;
    border: 1px solid #9fdbfc;
}

.volgograd {
    left: 13%;
    top: 73%;
    background: #3b8dbd;
    border: 1px solid #9fdbfc;
}

.vladivostok {
    left: 89%;
    top: 85%;
    background: #3b8dbd;
    border: 1px solid #9fdbfc;
}

.voronezh {
    left: 12%;
    top: 63%;
    background: #3b8dbd;
    border: 1px solid #9fdbfc;
}

.yekaterinburg {
    left: 30%;
    top: 68%;
    background: #3b8dbd;
    border: 1px solid #9fdbfc;
}

.kazan {
    left: 22%;
    top: 63%;
    background: #3b8dbd;
    border: 1px solid #9fdbfc;
}

.kaliningrad {
    left: 6%;
    top: 39%;
    background: #3b8dbd;
    border: 1px solid #9fdbfc;
}

.krasnodar {
    left: 7%;
    top: 74%;
    background: #3b8dbd;
    border: 1px solid #9fdbfc;
}

.krasnoyarsk {
    left: 52%;
    top: 77%;
    background: #3b8dbd;
    border: 1px solid #9fdbfc;
}

.nizhny_novgorod{
    left: 19%;
    top: 59%;
    background: #3b8dbd;
    border: 1px solid #9fdbfc;
}

.novosibirsk {
    left: 44.5%;
    top: 79%;
    background: #3b8dbd;
    border: 1px solid #9fdbfc;
}

.omsk {
    left: 37.5%;
    top: 77%;
    background: #3b8dbd;
    border: 1px solid #9fdbfc;
}

.permian {
    left: 27.5%;
    top: 64%;
    background: #3b8dbd;
    border: 1px solid #9fdbfc;
}

.rostov_on_don {
    left: 9%;
    top: 70%;
    background: #3b8dbd;
    border: 1px solid #9fdbfc;
}

.samara {
    left: 20.7%;
    top: 69%;
    background: #3b8dbd;
    border: 1px solid #9fdbfc;
}

.ufa {
    left: 25%;
    top: 71%;
    background: #3b8dbd;
    border: 1px solid #9fdbfc;
}

.chelyabinsk {
    left: 29%;
    top: 72%;
    background: #3b8dbd;
    border: 1px solid #9fdbfc;
}

.sevastopol {
    left: 2%;
    top: 69%;
    background: #3b8dbd;
    border: 1px solid #9fdbfc;
}

.simferopol {
    left: 4%;
    top: 68%;
    background: #3b8dbd;
    border: 1px solid #9fdbfc;
}

#text-for-map-add {
    text-align: center;
    display: inline-block;
    /*border: 1px solid red;*/
    font-size: 18px;
    width: 100%;
}

.url-help {
    text-decoration: none;
    color: #3b8dbd;
}

.url-help:hover {
    color: #9fdbfc;
}

.links-for-help-and-rules {
    /*border: 1px solid red;*/
}

#links-for-help-photo {
    width: 120px;
    height: 120px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 200px;
    margin-right: 50px;
    overflow: hidden;
    background: #fff;
    padding: 5px; /* создание отступов */
    border-radius: 50%;
    /* не забываем о кроссбраузерности */
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: #3b8dbd 2px solid;
    
    float: left;
}

#links-for-rules-photo {
    width: 120px;
    height: 120px;
    margin: auto;
   /* margin-top: 15px;*/
    margin-bottom: 15px;
    /*margin-left: 50px;
    margin-right: 200px;*/
    overflow: hidden;
    background: #fff;
    padding: 5px; /* создание отступов */
    border-radius: 50%;
    /* не забываем о кроссбраузерности */
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: #3b8dbd 2px solid;
    
    /*float: left;*/
}

#links-for-help-photo img, #links-for-rules-photo img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    /*border: 1px solid #8A2877;*/
}

.clear {
    clear: left; /* Отмена обтекания */
}

#title-rules {
    text-align: center;
    font-size: 25px;
    background: #666666;
    color: transparent;
    text-shadow: 0px 1px 3px rgba(250,250,250,0.55);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;    
    font-weight: 600;
}

.block-support-info-rules {
    font-size: 17px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;   
    text-align: left;
    margin: 0;
    margin-left: 15px;
    margin-right: 15px;
    border: 2px dashed #D1D1D1;
    background-color: #F9E7E7;
    color: #C52002;
    font-weight: 600;
}

.rules-list {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    /*border: 1px solid red;*/
}

.rules-list > li {
    /*border: 1px solid blue;*/
    margin-bottom: 10px;
}